<header class = "header">
    <nav>
      <div class="leftIcon">
        <img src="images/postit.png" alt="Notes" />
      </div>
      <div class="search-container">
        <input type="text" /><button>Search</button>
      </div>
      <div class="dropdown">
        <image onclick="clickFunction()" class="dropbtn" src ="images/me.png" alt="Me">

        </image>
        <div id="myDropdown" class="dropdown-content">
          <a>Dumb User<br />john.doe@example.com</a>
        </div>
      </div>
    </nav>
    <div id="navigate">
      <a href="/login">Log In</a> |
      <a href="/posts">Home </a> | 
      <a href="/contactus">Contact us</a>
    </div>
</header>