<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contuct Us</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="contactus">
        <h2>Contact Us</h2>
        <p>Awesome Posts Company</p>
        <p>awesome@posts.com<br>
           + 7 499 240 60 15</p>
        <p><i>Life with us is purely fantastic!</i></p>
      </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>