<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Log In</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="login-container">
        <div class='icon-holder'>
            <img src="images/postit.png" alt="Notes">
        </div>
        <div class="textHolder">
            <br>
            
            Welcome to  postIt! <br>
        </div>
        <div class="textHolder">
        <a href="#">Create an Account </a><br>
         </div>
        <div class="textHolder">
            Or<br>
        </div>
        <div class="textHolder2">
            Please Log In<br>
        </div>

        <div class = textHolder>
        <form>
            <input type="text" name="email" placeholder="Email"/><br>
            <input type="password" name="password" placeholder="Password"/><br>
            <div class="buttonHolder">
                <input type="submit"  v-on:click="submit" value="Log In"/>
            </div>
        </form>
        </div>
        <a class ="forgotten-password" href="#">Forgot password </a><br>
    </div>

    
    <%- include('./partials/footer.ejs') %>
</body>
</html>